---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="site-header">
  <div class="container container--wide header-inner">
    <ThemeToggle />
  </div>
</header>

<style>
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
  }

  @media (max-width: 1080px) {
    .header-inner {
      height: 3rem;
    }
  }
</style>
